
<%#
  # JSONB Form Partial
  This partial renders an JSON database into structured form
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field administrate-jsoneditor">
  <%= f.text_area field.attribute, value: field.data.to_json.html_safe.squish %>
</div>
