<% if field.advanced_view? %>
  <dl class='administrate-field-jsonb-wrapper'>
    <% if field.array? %>
      <%= render field.to_partial_path('array'), field: field, structure: field.advanced_view, data: field.transform %>
    <% else %>
      <%= render field.to_partial_path('hash'), field: field, structure: field.advanced_view, data: field.transform %>
    <% end %>
  </dl>
<% else %>
  <div class='administrate-jsoneditor-viewer'>
    <p><%= text_area_tag field.attribute, field.transform.to_json.html_safe.squish %></p>
  </div>
<% end %>
