.administrate-field-jsonb-wrapper {
  float: left;
  width: 100%;
  margin-top: 0;
  border: 1px solid #ccc;
  padding: 10px;
}

.administrate-field-jsonb-box {
  margin-bottom: 0;
  float: left;
  width: 100%;
}

.administrate-field-jsonb-accordion {
  width: 100%;
  text-align: left;
  padding: 5px 15px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  margin-bottom: 0;
  margin-top: 15px;
}

.administrate-field-jsonb-accordion:first-child {
  margin-top: 0;
}

.administrate-field-jsonb-active, .administrate-field-jsonb-accordion:hover {
  background-color: #ccc;
}

.administrate-field-jsonb-panel {
  padding: 0 18px 15px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.administrate-field-jsonb-accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.administrate-field-jsonb-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
